@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary_color: rgb(255, 107, 1);
    --primary_color_dark: rgb(139, 68, 5);
    --text_dark: rgb(112, 61, 13);
    --text_light: rgb(216, 183, 145);
    --extra_light: rgb(249, 218, 190);
    --max_width: 1200px;
    --width: 1rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box 0;

}

.section_container {
    max-width: var(--max_width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text_dark);
    position: relative;
  }

  img{
    width: 100%;
    display: flex;
  }

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right,
            #945f18,
            #f4c08b);
}

.background_container {
    max-width: var(--max_width);
    background-color: white;
    border-radius: 5%;
    margin: auto;
    padding: 4rem;
}



nav {
    max-width: var(--max_width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.nav_logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--text_dark);
}

.nav_links {
    list-style: none;
    display: flex;
    gap: 2rem;    
}

nav a {
    text-decoration: none;
    color: var(--primary_color);
    padding: 1rem 0.5rem;
    position: relative;
    transition: transform 0.3s;
    

}

nav a:hover{
    background-color: rgb(237, 201, 138);
    padding: 1rem 0.5rem;
    transition: all 0.3s;

}
nav a::after {
    content: '';
    display: block;
    background-color: rgb(255, 128, 9);
    width: 100%;
    height: 2px;
    left: 0;
    right: 0;
    position: absolute;
    transition: all 0.3s;
    transform: scaleX(0);
}

nav a:hover::after{
    transform: scale(1);
}

.header_container {
    padding: 1rem 1rem 5rem 1rem;
}

.header_image_container {
    position: relative;
    min-height: 500px;
    background-image: linear-gradient(to right,
            rgba(220, 173, 92, 0.664),
            rgba(190, 163, 104, 0)),
        url("header.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
    max-width: var(--max_width);
    margin: auto;
}

.header_content {
    max-width: 600px;
    padding: 5rem 2rem;
    color: white;
  }

  .header_content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--white);
  }

  .header_content p {
    color: var(--extra_light);
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact .content {
    max-width: 800px;
    text-align: center;
    min-width: 800px;
}

.contact .content h2 {
    font-size: 3em;
    color: white;
    font-weight: 500;
}

.contact .content p {
    color: white;
    font-size: 1.1em;
    font-weight: 300;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;

}

.container .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}

.container .contact-info .box .icon {
    min-width: 60px;
    height: 60px;
    max-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75em;
    transition: 0.5s;
}

.container .contact-info .box:hover .icon {
    
    color: #fff;
}

.container .contact-info .box .text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
}

.container .contact-info .box .text h3 {
    font-weight: 500;
    color: #653e0a;
}

.container .contact-info .txt {
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    padding-left: 10px;
    border-left: 50px solid #e7c291;
    line-height: 1em;
}

.logo {
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.logo li {
    list-style: none;
}

.logo li a {
    color: #fff;
    font-size: 2em;
    transition: 0.5s;
}

.logo li a:hover {
    color: #6b5c3b;
}

.container .contact-form {
    position: relative;
    width: 40%;
    background: white;
    min-height: 100px;
    padding: 60px;
    border-radius: 5%;
}

.container .contact-form h2 {
    font-size: 2em;
    color: #333;
    font-weight: 600;
}

.container .contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.container .contact-form .input-box input,
.container .contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.container .contact-form .input-box span {
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #666;
    transition: 0.5s;
}

.container .contact-form .input-box input:focus ~ span,
.container .contact-form .input-box textarea:focus ~ span,
.container .contact-form .input-box input:valid ~ span,
.container .contact-form .input-box textarea:valid ~ span {
    color: #d49747;
    font-size: 0.9em;
    transform: translateY(-20px);
}

.container .contact-form .input-box input[type="submit"] {
    width: 100px;
    background: #bb822c;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 10%;
}

.container .contact-form .input-box input[type="submit"]:hover {
    color: rgb(255, 136, 0);
    transition: 0.4s;
}

.footer {
    background-color: rgba(220, 173, 92, 0.664);
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7rem;
    max-width: var(--max_width);
    margin: auto;
}

.footer_col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text_dark);
}

.footer_col p {
    margin-bottom: 1rem;
    color: var(--text_light);
    cursor: pointer;
    transition: 0.3s;
}

.footer_col p:hover {
    color: var(--text_dark);
}

.footer_bar {
    position: relative;
    max-width: var(--max_width);
    margin: auto;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary_color_dark);
    text-align: center;
    overflow: hidden;
}